<input id="usernameInput" type="text" placeholder="Nombre de usuario" />
<input id="messageInput" type="text" placeholder="Mensaje" />
<button id="sendButton">Enviar</button>
<ul id="messageList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>